extends layout

block content
    h1= title
    p Welcome to #{title}

    br
    div.basicDiv
      button#getByIndex  Renewable by Index
      input#InputAsIndex(type='number', value='2')
    br
    div.basicDiv
      button#getByYear  Renewable by Year
      input#InputAsYear(type='number', value='2011')
    br
    button#getRenewable.basicDiv Get Renewable
    br
    pre#debug