extends layout

block content
     h1= title
     p Welcome to #{title}

     button#homeButton.btn.btn-primary Home
     button#aboutButton.btn.btn-success About
     br
     button#renewablesButton.btn.btn-info Renewables
     button#renewablesByIndexButton.btn.btn-warning Renewables by index
     button#renewablesByYearButton.btn.btn-danger Renewables by year
     br
     button#highTechEnergyOverviewButton.btn.btn-secondary HighTechEnergy
     button#highTechEnergyTypesButton.btn.btn-secndary HighTechEnergy sorted

     #elf-view

