.jumbotron

    h3 High Tech Energy

    .alert.alert-success
        p#display

    .alert.alert-secondary
        p#display2

        .container
            .panel.panel-default
                .panel-heading Energy list using the msnTypes funstion
                    .panel-body
                     pre#debug

                      //
                       span.input-group-btn
                            button#plusButton.btn.btn-success.btn-number(type="button") + increment
                        input#indexInput.form-control.input-number(type="number", value=0, min='0', max='12')
                        span.input-group-btn
                            button#minusButton.btn.btn-danger.btn-number(type="button") - decrement
                        .input-group
                        span.input-group-addon Year renewables
                            #yearView.form-control(type='text')
                        .input-group
                        span.input-group-addon Solar renewables
                            #solarView.form-control(type='text')
                        .input-group
                        span.input-group-addon Geothermal renewables
                            #geoView.form-control(type='text')
                        .input-group
                        span.input-group-addon Other biomass renewables
                            #biomassView.form-control(type='text')
                        .input-group
                        span.input-group-addon Wind power renewables
                            #windView.form-control(type='text')
                        .input-group
                        span.input-group-addon Liquid biofuels renewables
                            #liquidView.form-control(type='text')
