//
   Created by bcuser on 5/21/16.
.jumbotron

    h3 Renewable by Index Page

    .alert.alert-success
        p#display

    .alert.alert-info
        p#display2

    .alert.alert-info
        input#renewableByIndex(type='number' value='2')

        pre#debug

    button#plusButton.btn.btn-success.btn-number(type='button') + increment
    button#minusButton.btn.btn-success.btn-number(type='button') - decrement