.jumbotron

    h3 High Tech Energy

    .alert.alert-success
        p#display

    .alert.alert-secondary
        p#display2

        .container
            .panel.panel-default
                .panel-heading Energy list indexed on the server side
                    .panel-body
                        .input-group
                        span.input-group-btn
                            button#plusButton.btn.btn-success.btn-number(type="button") + increment
                        input#indexInput.form-control.input-number(type="number", value=0, min='0', max='12')
                        span.input-group-btn
                            button#minusButton.btn.btn-danger.btn-number(type="button") - decrement
                        .input-group
                        span.input-group-addon MSN energy type
                            #yearView.form-control(type='text', placeholder='year')
                        .input-group
                        span.input-group-addon YYYYMM timestamp
                            #solarView.form-control(type='text', placeholder='solar')
                        .input-group
                        span.input-group-addon Value of energy
                            #geoView.form-control(type='text', placeholder='geo')
                        .input-group
                        span.input-group-addon Column Order
                            #biomassView.form-control(type='text', placeholder='bio')
                        .input-group
                        span.input-group-addon Description
                            #windView.form-control(type='text', placeholder='wind')
                        .input-group
                        span.input-group-addon Unit
                            #liquidView.form-control(type='text', placeholder='liquid')
