extends layout

block content
    h1= title
    p Welcome to #{title}

    button#workButton.btn.btn-primary Work
    button#aboutButton.btn.btn-success About

    #elf-view



    br
    div.basicDiv
    button#getRenewable Get Renewable  All Renewables

    br
    div.basicDiv
    input#renewableByIndex(type='number', value='2')
    button#getRenewableByIndex Get Renewable by Index
    br
    input#renewableByYear(type='number', value='2010')
    button#getRenewableByYear Get Renewable by Year

    pre#debug