.container
    .jumbotron
        h1 Database Page

    .panel.panel-default
        .panel-heading Database
        .panel-body

            button#insertValidData Insert Valid Data
            button#getAll Get All
            button#emptyCollection Empty Collection

            .alert.alert-info
                pre#debug
            .alert.alert-info
                pre#display