.container
    .jumbotron
        h1 Home Page

    .panel.panel-default
        .panel-heading Settings
        .panel-body
            form#target(method='post', action='/bar')
                p Renewable data from the database or local JSON
                select.form-control#dataType(name='dataType')
                    option Database
                    option JSON
                hr
                p database on current server or remote Mlab
                select.form-control#dataSource(name='dataSource')
                    option Local MongoDb
                    option MLab
                hr
                input#comment(type="text", name='comment' value='foo')
                hr
                input.btn.btn-success(type="submit", value='Submit')

     .alert.alert-info
        pre#debug