extends layout

block content
    h1= title
    p Welcome to #{title}

    button#workButton.btn.btn-primary Work
    button#aboutButton.btn.btn-success About
    button#renewablesButton.btn.btn-info Renewables
    button#renewablesByIndexButton.btn.btn-warning Renewables by index
    button#renewablesByYearButton.btn.btn-danger Renewables by year

    #elf-view



    br
    div.basicDiv
    button#getRenewable Get Renewable  All Renewables

    br
    div.basicDiv
    input#inputByIndex(type='number', value='2')
    button#getByIndex Get Renewable by Index
    br
    input#inputByYear(type='number', value='2010')
    button#getByYear Get Renewable by Year

    pre#debug